---
import Layout from "../layouts/Layout.astro";


---

<Layout title="Dashboard">
    <main class="space-y-16 sm:space-y-28 lg:space-y-32 pb-40 overflow-clip">
        <div class="space-y-8">
            <h1 class="text-4xl font-bold text-gray-900 dark:text-gray-100">Dashboard</h1>
            <p class="text-lg text-gray-700 dark:text-gray-300">Welcome to the dashboard.</p>
        </div>
    </main>