---
import AppHeader from "../components/AppHeader.astro";
---

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <AppHeader />
    </head>
    <body class="overflow-x-hidden bg-white dark:bg-gray-950">
        <slot />
    </body>
</html>
<style is: global>
   

    </style>  

