---
export const prerender = false
export async function getStaticPaths() {
  const conexion = useConexion();
  const response = await conexion.get(Astro.cookies.get("token").toString(),
    `projects/${Astro.cookies.get("user").json().external_id}`,
  );

  if (!response || !response.info) {
    console.error("No hay datos disponibles");
    return [];
  }
  return response.info.map((project) => ({
    params: { proyect_report: project.external_id }, // Cambiado a `project_id`
  }));
}
const token = Astro.cookies.get("token");
const user = Astro.cookies.get("user");
if (!token || !user) {
  return Astro.redirect("/login");
}
import AppHeaderProject from "@components/AppHeaderProject.astro";
import ReportChart from "@components/chart/ReportChart.astro";
import Layout from "@layouts/Layout.astro";
import useConexion from "@utiles/hooks/Conexion";

const { proyect_report } = Astro.params;
const conexion = useConexion();
let project;
const fetchProjects = async () => {
  try {
    const response = await conexion.get(Astro.cookies.get("token").toString(),
      `project/alone/${Astro.cookies.get("user").json().external_id}/${proyect_report}`,
    );
    if (response?.code === 200) {
      project = response.info.project;
    }else{
      Astro.redirect("/dashboard");
    }
  } catch (error) {
    Astro.redirect("/dashboard");
  } 
};
await fetchProjects();
---

<Layout title={`${project.name}- Reports`}>
  <main class="pt-20 px-6 sm:px-12 lg:px-20 min-h-screen bg-gray-50 dark:bg-gray-900">
    <div class="flex flex-col items-center justify-center">
      <AppHeaderProject project_id={project.external_id} />
    </div>
    <div >
    <ReportChart  proyect_report={project.external_id} />
  </div>
  </main>

    
</Layout>